extends base

if path1 == 'tags' and path2
    +redirect('/tag/' + path2)
elif path1 == 'tag' and (not path2 or path2 == '/')
    +redirect('/tags')

block title
    if tags
        | {{ ','.join(tags) }}
    else
        | Tags Cloud
    | 路 {{ site.title }}

block main
    article
        if tags and posts
            h1 Tag 路
                {{ ', '.join(tags) }}

            ul
                for post in get_data(type="post", tags=tags)
                    li
                        p
                            {{ post.date.format("%b %d, %Y (%a)") }}
                            |  路 
                            a(href="{{ post.url }}")= post.title

        else
            h1 Tags Cloud.
            for tag_name, tag_count in site.tags
                h2= tag_name + "(" + tag_count + ")"

                ul
                    for post in get_data(type="post", tags=tag_name)
                        li
                            p
                                {{ post.date.format("%Y-%m-%d") }}
                                |  路
                                a(href="{{ post.url }}")= post.title